In [1]:
# keterangan: module yang dipakai pada artikel ini adalah
import math
import numpy as np
import pandas as pd

### Apa Itu Entropy ?

Entropy singkatnya adalah besaran untuk mengukur ketidak pastian.Nilai entropy berkisar antara  0 sampai 1. Jika bernilai mendekati 0 berarti ketidak pastian sangat rendah  sedangkan saat nilainya mendekati 1  berarti ketidak pastian sangat tinggi.

Contoh keadaan ketidak pastian tinggi adalah saat kalian disuruh memprediksi bola merah atau bola biru yang akan muncul dari kotak , padahal di dalam kotak ada 5 bola merah dan 5 bola biru. Maka ketidak pastiannya sangat tinggi / maksimal. Sedangkan jika di dalam kotak ada 10 bola merah dan 0 bola biru maka ketidak pastian nya sangat rendah dengan kata lain bola yang akan muncul PASTI bola merah.
<br><br>
Rumus entropy adalah sebagai berikut:

<img border="0" data-original-height="91" data-original-width="391" height="74" src="https://miro.medium.com/max/391/1*nNY_7_aWRwp8E2DyGduEPg.png" width="320" />

Dengan c adalah jumlah class , p adalah probality dari class tersebut
<br>
Berikut ini cara menghitung entropy dari satu baris data menggunakan python

In [2]:
def entropy_of_y(y):
    #y = list suatu data discret
    value_to_average =[]

    y_unique = np.unique(y)

    value_to_sum = []
    for y_unique_i in y_unique:
        event = 0
        outcome = 0
        for y_i in y:


            if y_i ==y_unique_i:
                event +=1

            outcome += 1


        p = event/outcome #menghitung probability

        value_to_sum.append(-p * math.log(p,2))

       
           
       
    return sum(value_to_sum) #

Ayo kita coba lihat berapa entropy jika ada 5 bola merah dan ada 5 bola biru

In [3]:
entropy_of_y(["MERAH","MERAH","MERAH","MERAH","MERAH","BIRU","BIRU","BIRU","BIRU","BIRU"])

1.0

Ayo kita lihat kalau datanya diubah menjadi 10 bola merah dan 0 bola biru

In [4]:
entropy_of_y(["MERAH","MERAH","MERAH","MERAH","MERAH","MERAH","MERAH","MERAH","MERAH","MERAH"])

0.0

Entropy sama dengan 0 menandakan ketidak pastian sangat rendah, alias jika kita mau memprediksi bola apa yang terambil jawabannya PASTI bola MERAH
<br><br>
Nilai entropy juga akan 0 jika semua bola adalah biru

In [5]:
entropy_of_y(["BIRU","BIRU","BIRU","BIRU","BIRU","BIRU","BIRU","BIRU","BIRU","BIRU"])

0.0

Anggap saja simbol  ( - ) adalah bola biru dan simbol (+) adalah bola merah, maka beginilah perubahan entropynya
<br><br>
<img class="nj pc ds t u ha ak hk" height="400" role="presentation" src="https://miro.medium.com/max/565/1*M15RZMSk8nGEyOnD8haF-A.png" width="565" />

### Apa itu information gain ?

Information gain adalah kemampuan suatu feature untuk mengurangi ketidak pastian dalam melakukan klasifikasi. Penggunaan Information Gain bisa dibilang mirip dengan correlation namun correlation , terutama Pearson correlation, dipakai untuk data yang bersifat continous. Information gain digunakan untuk data yang bersifat diskret.

Lalau bagaimana menghitung nilai Information Gain ? Caranya adalah dengan menghitung entropy (ketidak pastian) dari target yang akan diprediksi tanpa diberi informasi feature apapaun. Lalu hasil dari penghitungan  dikurangi entropy dari target yang akan akan diprediksi TAPI dengan diberi informasi yaitu satu feature.


untuk lebih jelasnya kita lihat ini

<img border="0" data-original-height="53" data-original-width="800" height="21" src="https://miro.medium.com/max/1307/0*08CaHVjPCgs_fZyp" width="320" />

IG adalah fungsi untuk menghitung Information Gain <br>
E adalah fungsi untuk menghitung entropy <br>
X adalah data feature atau independent variable<br>
Y adalah data target atau dependent variable

In [28]:
def calculate_IG(X, y):
    # calculateIG(X,y) disini setara dengan IG(Y,X) pada rumus matematika
    def entropy_of_y(y):
        #entropy_of_y disini setara dengan E(Y) pada rumus matematika
        value_to_average =[]

        y_unique = np.unique(y)

        value_to_sum = []
        for y_unique_i in y_unique:
            event = 0
            outcome = 0
            for y_i in y:


                if y_i ==y_unique_i:
                    event +=1

                outcome += 1


            p = event/outcome

            value_to_sum.append(-p * math.log(p,2))




        return sum(value_to_sum)


    def entropy_of_yX(X, y):
        #entropy_of_yX disini setara dengan E(Y|X) pada rumus matematika

        value_to_average =[]

        y_unique = np.unique(y)
        X_unique = np.unique(X)
        for X_unique_i in X_unique:
            
            value_to_sum = []
            for y_unique_i in y_unique:
                event = 0
                outcome = 0
                for X_i , y_i in zip(X.T, y.T):

                    if X_i == X_unique_i and y_i == y_unique_i:
                        event += 1

                    if X_i == X_unique_i:
                        outcome += 1


                p = event/outcome
                
                if p > 0:
                    value_to_sum.append(-p * math.log(p, 2))
                else:
                    value_to_sum.append(0)
            
            value_to_average.append(sum(value_to_sum))
            


        return np.mean(value_to_average)


    def gain(X, y):
        #gain disini setara IG(Y,X)
        return entropy_of_y(y) - entropy_of_yX(X,y)

    return gain(X,y)

Ayo kita lihat berapa information gain, dari suatu data. Misal kalian punya teman bernama Ines, dia suka main tennis outdoor. Kalian ingin tau apakah ada hubungan antara cuaca dan kebiasan main tennis Ines.
Selama sepuluh hari kalian catat apakah Ines main tennis atau tidak. Kalian juga mencatat cuacanya hujan, mendung, atau cerah. Ternyata datanya seperti ini

In [7]:
#X data cuaca
#y main tenis?ya atau tidak
X = np.array(["HUJAN","MENDUNG","HUJAN","HUJAN", "MENDUNG","CERAH","MENDUNG","MENDUNG","CERAH","CERAH"])
y = np.array(["TIDAK","TIDAK","TIDAK","TIDAK","YA","YA","YA","TIDAK","YA","YA"])
dataset = (np.concatenate([np.array([X]).T,np.array([y]).T],axis=1))
df = pd.DataFrame(dataset, columns=["cuaca","main_tenis"])

df

     cuaca main_tenis
0    HUJAN      TIDAK
1  MENDUNG      TIDAK
2    HUJAN      TIDAK
3    HUJAN      TIDAK
4  MENDUNG         YA
5    CERAH         YA
6  MENDUNG         YA
7  MENDUNG      TIDAK
8    CERAH         YA
9    CERAH         YA

Nah ayo kita hitung berapa information gainnya

In [29]:
calculate_IG(X,y)

0.6666666666666667

Nah ini menunjukkan data cuaca berhubungan cukup dekat dengan kebiasan Ines main tennis

Sudah cukup jelas kan ? Atau mungkin mau tau caranya hitung manual ?

Untuk menghitung E(Y) sepertinya sangat mudah , pertama kita hitung berapa jumlah class pada kolom Y, ternyata ada dua yaitu "YA" dan "TIDAK" . Lalu kita hitung probabilitas masing-masing , class "YA" memiliki probabilitas 0.5 dan class "TIDAK" memiliki probabilitas 0.5. Lalu tinggal dihitung dengan rumus entropy yang sudah ditulis diatas:

In [17]:
E_Y = -0.5 * math.log(0.5,2) + -0.5 *math.log(0.5,2)
E_Y

1.0

Nah sekarang kita hitung E(Y|X)

pertama kita kelompokkan dulu berdasar nilai X

In [10]:
df = df.sort_values(by =["cuaca"])
df

     cuaca main_tenis
5    CERAH         YA
8    CERAH         YA
9    CERAH         YA
0    HUJAN      TIDAK
2    HUJAN      TIDAK
3    HUJAN      TIDAK
1  MENDUNG      TIDAK
4  MENDUNG         YA
6  MENDUNG         YA
7  MENDUNG      TIDAK

Nah cara hitungnya sama sih seperti E(Y) hanya saja dilakukan secara terpisah berdasar nilai di X, karena nilai di X yaitu cuaca ada tiga jenis yaitu CERAH, HUJAN, dan MENDUNG , maka ada tiga kali penghitungan lalu hasilnya di rata-rata.

In [11]:
#penghitungan saat cuaca CERAH
# sebenarnya rumusnya -1 * math.log(1,2) + -0 * math.log(0,2), namun akan menghasilkan error karena math.log(0,2) adalah -infinity
#tapi rumus bisa diganti menjadi -1 * math.log(1,2) + -0  karena  0 dikali -infinity sama dengan 0
E_XY_1 = -1 * math.log(1,2) + -0
E_XY_1

0.0

In [12]:
#penghitungan saat cuaca HUJAN
#alasan rumus diganti sama dengan yang diatas
E_XY_2 = 0 + -1 * math.log(1,2)
E_XY_2

0.0

In [25]:

#penghitungan saat cuaca MENDUNG
E_XY_3 = -0.5 * math.log(0.5,2) + -0.5 * math.log(0.5,2)
E_XY_3

1.0

In [26]:
E_XY = (E_XY_1 + E_XY_2 + E_XY_3)/3
E_XY

0.3333333333333333

In [27]:
IG = E_Y - E_XY
IG

0.6666666666666667

Bagaimana sudah mengerti kan ? Semoga bermanfaat
## AVICENA

In [31]:
!jupyter nbconvert --to html Untitled.ipynb

[NbConvertApp] Converting notebook Untitled.ipynb to html
[NbConvertApp] Writing 308307 bytes to Untitled.html